[submodule "packages/design-system/packages/design-system-tokens"]
	path = packages/design-system/packages/design-system-tokens
	url = git@github.com:jh-eunhee/design-system-draft.git
[submodule "packages/design-tokens"]
	path = packages/design-tokens
	url = git@github.com:jh-eunhee/design-system-draft.git
